<div class="place-inline">
  <div id="<%= @name %>" class="alt-details">
    <input class="alt-details-control" type="checkbox" id="<%= @name %>__control" hidden aria-hidden="true">
    <label class="alt-details-toggle" for="<%= @name %>__control"><%= @title %></label>
    <div class="alt-details-detail">
      <div class="wrap-tab">
        <%= altDetailsContent %>
      </div>
    </div>
  </div>
</div>
